@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "General Sans";
  src: url("../../public/Fonts/GeneralSans/GeneralSans-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("../../public/Fonts/GeneralSans/GeneralSans-Semibold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}

@layer utilities {
  .aspect-square {
    aspect-ratio: 3/1;
  }
}

@layer base {
  .generalTitle {
    @apply text-green-70 text-[32px] leading-[40px] font-semibold;
  }
  .profileSectionTitle {
    @apply text-[32px] font-semibold text-white;
  }
  .titleText {
    @apply text-green-70 text-[32px] max-ns:text-[21px] leading-[40px] max-ns:leading-[28px] font-semibold;
  }
  .stepLabelTitle {
    @apply text-green-70 text-[21px] leading-7 font-semibold;
  }

  .generalText {
    @apply text-[16px] leading-[22px] font-medium;
  }

  .buttonText {
    @apply text-[16px] leading-[20px] font-semibold;
  }

  .darkGreenButtonText {
    @apply text-[16px] leading-[20px] font-semibold text-green-70;
  }

  .generalSmallText {
    @apply text-[14px] leading-[20px] font-medium;
  }
  .darkIntroText {
    @apply text-green-70 text-[14px] leading-[20px] font-medium;
  }

  .introText {
    @apply text-gray-10 text-[14px] leading-[20px] font-medium;
  }
  .smallIntroText {
    @apply text-gray-10 text-[12px] leading-[20px] font-medium;
  }

  .linkTextButton {
    @apply text-green-70 text-[14px] leading-[20px] font-medium underline underline-offset-2 cursor-pointer;
  }
  .valueText {
    @apply text-green-70 text-[14px] leading-[20px] font-semibold;
  }
  .valueTextWhite {
    @apply text-white text-[14px] leading-[20px] font-semibold;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .customDatePickerWidth,
  .customDatePickerWidth > div.react-datepicker-wrapper,
  .customDatePickerWidth
    > div
    > div.react-datepicker__input-container
    .customDatePickerWidth
    > div
    > div.react-datepicker__input-container
    input {
    width: 100%;
  }

  .customDatePickerWidth > div > div.react-datepicker-popper {
    z-index: 100;
  }

  .react-datepicker-popper .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker-popper {
    z-index: 20;
  }
  .lds-spinner {
    color: white;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #78e98c;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .customDatePickerWidth,
  .customDatePickerWidth > div.react-datepicker-wrapper,
  .customDatePickerWidth
    > div
    > div.react-datepicker__input-container
    .customDatePickerWidth
    > div
    > div.react-datepicker__input-container
    input {
    width: 100%;
  }

  .customDatePickerWidth > div > div.react-datepicker-popper {
    z-index: 100;
  }
  .react-datepicker-popper .react-datepicker__triangle {
    display: none;
  }
  .react-datepicker-popper {
    z-index: 20;
  }
}
