@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'General Sans';
  src: url('../../public/Fonts/GeneralSans/GeneralSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../../public/Fonts/GeneralSans/GeneralSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@layer base {
  .generalTitle{
    @apply text-green-70 text-[32px] leading-[40px] font-semibold;
  }
  .titleText{
    @apply text-green-70 text-[32px] max-ns:text-[21px] leading-[40px] max-ns:leading-[28px] font-semibold;
  }
  .stepLabelTitle{
    @apply text-green-70 text-[21px] leading-[28px] font-semibold;
  }
  .introText {
     @apply text-gray-500 text-[14px] leading-[20px] font-medium;
  }
  
  .linkTextButton{
    @apply text-green-70 text-[14px] leading-[20px] font-medium underline cursor-pointer;
  }
  
  .generalText{
    @apply text-[16px] leading-[22px] font-medium;
  }
  
  .generalSmallText{
    @apply text-[14px] leading-[20px] font-medium;
  }

  .buttonText{
    @apply text-[16px] leading-[20px] font-semibold
  }
}